:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  background: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 100vw;
  height: 100vh;
}

canvas {
  background-color: white;
}